* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro";
}

.header {
  height: 80px;
  position: relative;
  background-color: #fff;
}

.header .left {
  left: 0;
  width: 50%;
  height: 100%;
  position: absolute;
}

.header .left .logo {
  left: 0;
  width: 15%;
  height: 100%;
  position: absolute;
}

.header .left .logo img {
  display: block;
  margin: 14px auto;
}

.header .left .menu {
  right: 0;
  width: 85%;
  height: 100%;
  position: absolute;
}

.header .left .menu ul {
  height: 100%;
  list-style-type: none;
}

.header .left .menu ul li {
  height: 100%;
  font-size: 18px;
  font-weight: bold;
  padding: 27px 15px;
  display: inline-block;
}

.header .left .menu ul li:hover {
  color: white;
  background-color: #04aa6d;
}

.header .left .menu ul li i {
  margin-left: 4px;
}

.header .right {
  right: 0;
  width: 50%;
  height: 100%;
  position: absolute;
}

.header .right .logos {
  left: 0;
  width: 40%;
  height: 100%;
  font-size: 20px;
  position: absolute;
  margin-left: 170px;
  display: inline-block;
}

.header .right .logos i {
  padding: 30px 16px;
}

.header .right .menu {
  right: 0;
  width: 60%;
  height: 100%;
  position: absolute;
}

.header .right .menu ul {
  right: 0;
  margin-right: 30px;
  position: absolute;
  list-style-type: none;
}

.header .right .menu ul li {
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
}

.header .right .menu ul li:nth-child(1) {
  padding: 27px 30px 27px 0px;
}

.header .right .menu ul li:nth-child(2) {
  padding: 27px 30px 27px 30px;
}

.header .right .menu ul li:nth-child(3) {
  color: white;
  padding: 10px 45px;
  border-radius: 30px;
  background-color: #04aa6d;
}

.section-1 {
  height: 550px;
  position: relative;
}

.section-1 .left {
  left: 0;
  width: 50%;
  height: 100%;
  position: absolute;
  text-align: center;
  padding-top: 100px;
  background-color: #282a35;
}

.title {
  color: white;
  font-size: 110px;
  font-weight: bold;
}

.desc {
  color: white;
  font-size: 19px;
  margin-top: 10px;
  font-weight: bold;
}

.btn-1,
.btn-2 {
  width: 200px;
  color: white;
  font-size: 18px;
  margin: 20px auto;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 25px;
  background-color: #04aa6d;
}

.btn-2 {
  color: black;
  background-color: white;
}

.section-1 .right {
  right: 0;
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: #282a35;
}

.container {
  width: 580px;
  height: 400px;
  margin: 75px auto;
  border-radius: 5px;
  background-color: #e7e9eb;
  padding: 30px 15px 15px 15px;
}

.code {
  width: 540px;
  margin: auto;
  height: 240px;
  padding: 20px;
  margin-top: 25px;
  margin-bottom: 15px;
  background-color: white;
  border-left: 5px solid #04aa6d;
}

.btn-3 {
  width: 200px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 25px;
  text-align: center;
  border-radius: 25px;
  background-color: #04aa6d;
}