* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro";
}

.header {
  height: 80px;
  position: relative;
  background-color: #fff;
}

.header .left {
  left: 0;
  width: 50%;
  height: 100%;
  position: absolute;
}

.header .left .logo {
  left: 0;
  width: 15%;
  height: 100%;
  position: absolute;
}

.header .left .logo img {
  display: block;
  margin: 14px auto;
}

.header .left .menu {
  right: 0;
  width: 85%;
  height: 100%;
  position: absolute;
}

.header .left .menu ul {
  list-style-type: none;
}

.header .left .menu ul li {
  font-size: 18px;
  font-weight: bold;
  padding: 27px 15px;
  display: inline-block;
}

.header .right {
  right: 0;
  width: 50%;
  height: 100%;
  position: absolute;
}

.header .right .logos {
  width:40%;
  font-size: 20px;
  margin-left: 100px;
  display: inline-block;
}

.header .right .logos i {
  padding: 30px 16px;
}

.header .right .menu {
  right: 0;
  width: 60%;
  height: 100%;
  position: absolute;
}

.header .right .menu ul {
  list-style-type: none;
}

.header .right .menu ul li {
  font-size: 18px;
  font-weight: bold;
  padding: 27px 15px;
  display: inline-block;
}

.section-1 {
  height: 550px;
  position: relative;
}

.section-1 .left {
  left: 0;
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: green;
}

.section-1 .right {
  right: 0;
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: yellow;
}