* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro";
}

.header {
  height: 80px;
  position: relative;
  background-color: #fff;
}

.header .left {
  left: 0;
  width: 50%;
  height: 100%;
  position: absolute;
}

.header .left .logo {
  left: 0;
  width: 15%;
  height: 100%;
  position: absolute;
}

.header .left .logo img {
  display: block;
  margin: 14px auto;
}

.header .left .menu ul {
  list-style-type: none;
}

.header .left .menu ul li {
  font-size: 18px;
  font-weight: bold;
  padding: 27px 15px;
  display: inline-block;
}

.header .left .menu {
  right: 0;
  width: 85%;
  height: 100%;
  position: absolute;
  background-color: pink;
}

.header .right {
  right: 0;
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: blue;
}

.section-1 {
  height: 550px;
  position: relative;
}

.section-1 .left {
  left: 0;
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: green;
}

.section-1 .right {
  right: 0;
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: yellow;
}